<div class="authform jobtable full_width">
  <center><b>Welcome to Job board</b></center>
</div>
<div class="row top_margin">
  <div class="column_2">
  	<%= image_tag "login/home_3.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_5.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_6.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_7.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_8.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_9.png", :class => "img_responsive"%>
  </div>
</div>
<div class="row top_margin">
  <div class="column_4">
  	<%= image_tag "login/home_1.png", :class => "img_responsive"%>
  </div>
  <div class="column_4">
    <%= image_tag "login/home_2.png", :class => "img_responsive"%>
  </div>
  <div class="column_4">
    <%= image_tag "login/home_10.png", :class => "img_responsive"%>
  </div>
</div>
<div class="row top_margin">
  <div class="column_2">
    <%= image_tag "login/home_9.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_8.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_7.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_6.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_5.png", :class => "img_responsive"%>
  </div>
  <div class="column_2">
    <%= image_tag "login/home_3.png", :class => "img_responsive"%>
  </div>
</div>
