<% if user_signed_in? %>
  <li><%= link_to 'My profile', edit_user_registration_path %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <% if current_user.is_admin? %>
    <li><%= link_to 'Create Jobs', edit_user_registration_path %></li>
    <li><%= link_to 'View Applicants', edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to 'Job board', edit_user_registration_path %></li>
    <li><%= link_to 'Applied jobs', edit_user_registration_path %></li>
  <% end %>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li style="margin-left: 450px;">
    <%= link_to destroy_user_session_path, :method=>'delete' do %>
      <span class="glyphicon glyphicon-off"></span>
    <% end %>
  </li>
<% end %>
